body {
    background-image: url(../app/pretty_bg.jfif);
    margin: 0;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    padding: 20px; /* Espacio alrededor */
}

.titulo {
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 50px;
    color: #372713; /* Color más oscuro para el título */
}

/* Estilo del botón de inicio */
.btn_home {
    display: inline-block;
    padding: 15px 30px; /* Botón más grande */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    outline: none;
    color: #ffffff;
    background-color: #e0c28a;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
.btn-create{
    display: inline-block;
    margin-left: 1000px;
    justify-content: end;
    padding: 15px 30px; /* Botón más grande */
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    outline: none;
    color: #ffffff;
    background-color: #e0c28a;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
.btn-create:hover{
    background-color: #b8870c;

}

.btn-create:active{
    background-color: #e0c28a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
}

.btn_home:hover {
    background-color: #b8870c;
}

.btn_home:active {
    background-color: #e0c28a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(4px);
}

/* Estilo para la tarjeta de libros */
.targeta-libro {
    display: flex;
    background-color: #ffffffbe;
    border-radius: 10px;
    width: 550px;
    height: 250px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    overflow: hidden;
}

.texto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.texto h3 {
    margin: 0;
    color: #333; /* Color más oscuro para el texto */
}

li {
    list-style-type: none;
    margin: 5px 0;
}

/* Estilo para la imagen del libro */
.targeta-libro img {
    width: 170px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.button-container {
    display: flex; /* Usar flexbox para alinear botones */
    gap: 10px; /* Espacio entre botones */
}
.btn_containers{
    display: flex; /* Usar flexbox para alinear botones */
    gap: 10px; /* Espacio entre botones */
}

.btn {
    flex: 1; /* Hacer que los botones ocupen el mismo espacio */
    padding: 10px; /* Espacio interior uniforme */
    font-size: 16px; /* Tamaño de fuente uniforme */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar */
    transition: background-color 0.3s; /* Transición suave */
}

.btn-delete {
    background-color: #bf1c2d; /* Color de fondo para eliminar */
    color: white; /* Color del texto */
}

.btn-delete:hover {
    background-color: #612820; 
    color: white;/* Color al pasar el mouse */
}

.btn-edit {
    background-color: #b396bd; /* Color de fondo para editar */
    color: rgb(255, 255, 255); /* Color del texto */
}

.btn-edit:hover {
    background-color: #87718e;
    color: white; /* Color al pasar el mouse */
}


/* Contenedor del calendario */
.calendar-container {
    width: 50%;
    padding-left: 250px;
}

/* Contenedor principal para alinear lista de libros y calendario */
.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}


/* Estilos personalizados para el calendario *//* Estilos personalizados para el calendario */
.custom-calendar {
    width: 100%;
    max-width: 430px; /* Ancho del calendario */
    background-color: #ffffffb2;
     /* Fondo blanco */
    border-radius: 15px; /* Bordes suaves */
    padding: 15px; /* Espacio interior */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    text-align: center; /* Centrar contenido */
}

/* Estilo para los días de la semana */
.react-calendar__month-view__days__day {
    background-color: #33333300;
    border: #33333300;

    border-radius: 0px; /* Bordes redondeados */
    transition: background-color 0.2s;
    padding: 10px; /* Espacio interno */
    color: #444; /* Color de texto */
}

/* Estilo para los días seleccionados */
.react-calendar__tile--active {
    background-color: #cc8079; /* Verde para días seleccionados */
    color: white; /* Texto blanco */
}

/* Estilo para los días en hover */
.react-calendar__tile:hover {
    background-color: #ea9761; /* Verde claro al pasar el mouse */
    color: #333; /* Color oscuro */
}

/* Estilo para los botones del calendario */
.react-calendar__navigation button {
    background-color: transparent; /* Fondo transparente */
    color: #452007; /* Color azul */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer;
    transition: color 0.2s;
}

.react-calendar__navigation button:hover {
    color: #000000; /* Azul más oscuro al pasar el mouse */
}

.react-calendar__navigation button:disabled {
    color: #b0b0b0; /* Botones deshabilitados */
}

/* Estilo para el encabezado del calendario */
.react-calendar__navigation {
    margin-bottom: 10px; /* Espaciado inferior */
}

/* Estilo de la cabecera del mes */
.react-calendar__month-view__header {
    font-size: 1.2em; /* Tamaño de fuente */
    color: #333; /* Color oscuro */
    margin-bottom: 10px; /* Espaciado inferior */
}
