
    /* styles.css */


.container {
    margin: 0 auto; /* Centrar el contenedor */
    padding: 60px; /* Espaciado interno del contenedor */
    background-color: bisque;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
.button-home{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    outline: none;
    color: #ffffff;
    background-color: #e0c28a;
    border: none;
    border-radius: 25px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}
.button-home:hover{
        background-color: #b8870c;
        color: white;
    
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e0c28a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #eee9e9;
  }
  
  .button:hover {    background-color: #e0c28a;
  }
  
  .button:active {
    background-color: #e0c28a;
    box-shadow: 0 5px #eee9e9;
    transform: translateY(4px);
  }



.movies-container {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
}

.local-movies, .movie-grid {
    flex: 2;
    margin: 1px; 
    display: flex; 
    flex-wrap:wrap; 
    gap: 15px;
}

.card{
    background-color: antiquewhite;
    border-radius: 20px;
    padding: 25px;
    border: #333;
    box-shadow: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    
}

.titulo{
    text-align: center;
    font-size: 25px;
    
}
.lista ul{
    list-style-type: none;
    padding: 0px;
    font-size: 15px;
    padding-left: 25px;
    background-color: #fff;
    margin-top: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: #ffffff;



}


.imagenYtitulo {
    display: flex; /* Usar flexbox para alinear la imagen y el título */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    margin: 20px 0; /* Espaciado superior e inferior */
    background-color: rgba(228, 213, 193, 0.545); /* Fondo claro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px; /* Espaciado interno */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

.titulo {
    font-size: 24px; /* Tamaño del texto */
    color: #333; /* Color del texto */
    margin-right: 50px; /* Espaciado entre el título y la imagen */
    text-transform: uppercase; /* Títulos en mayúsculas */
}


.lista li {
    list-style: none;
    background: antiquewhite;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    transition: background 0.3s;
}

.lista :hover{
    background-color: rgb(228, 212, 192);
}

.movie-card {
    background-color: rgb(141, 125, 105);
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(133, 115, 115, 0.877);
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden; 
    width: 250px;
    text-align: center; 
}



.movie-card:hover {
    transform: translateY(-15px); 
    box-shadow: 0 8px 16px rgba(55, 6, 6, 0.2); 
}

.movie-card img {
    width: 100%; 
    border-radius: 10px 10px 0 0; 
}

.movie-card-title {
    padding: 10px; /* Espaciado interno */
    color: #ffffff; /* Color del texto */
    font-weight: bold; /* Negrita para destacar el título */
}

h1 {
    text-align: left; /* Centrar los títulos */
    color: #333; /* Color del texto */
    margin: 20px 0; /* Espaciado vertical alrededor del título */
    font-size: 24px; /* Tamaño de fuente para los títulos */
    text-transform: uppercase; /* Títulos en mayúsculas para un efecto destacado */
}

.movies-titles {
    display: flex; /* Usar flexbox para alinear los títulos */
    justify-content: space-between; /* Espaciado entre los títulos */
    align-items: center; /* Centrar verticalmente */
    margin-bottom: 20px; /* Espacio debajo del contenedor de títulos */
}


.title {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño de fuente para los títulos */
    text-transform: uppercase; /* Títulos en mayúsculas para un efecto destacado */
    flex: 1; /* Permitir que ambos títulos se expandan igualmente */
    text-align: center; /* Centrar el texto dentro de cada título */
}

h1 {
    margin: 0; /* Eliminar márgenes por defecto de h1 */
}

.api-movies{
    text-align: right; /* Centrar los títulos */
    color: #a88383; /* Color del texto */
    margin: 20px 0; /* Espaciado vertical alrededor del título */
    font-size: 24px; /* Tamaño de fuente para los títulos */
    text-transform: uppercase;
}
